mt-5 {
margin-top: 6rem
}
.btn-primary {
    background-color: rgb(186, 15, 118);
    color: azure;
    border-color: rgb(235, 171, 209) ;
}
.btn-primary:hover {
    background-color: white;
    color: rgb(186, 15, 118);
    border-color: rgb(235, 171, 209) ;
}
.bg-lav {
    background-color:rgb(247, 220, 236);
}
footer {
    background-color:rgb(120, 79, 104);
    color: white;
    text-align: center;
    margin: 0;
}
header {
    margin: 0%;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}
.accordion-button {
    background-color:rgb(120, 79, 104);
    color: white;
}
